In [ ]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
# Lista de edades
lista_edades = [10, 12, 14, 16]

# Serie de edades con nombres
serie_edades = pd.Series([10, 12, 14, 16], index=["Ana", "Luis", "Sofía", "Carlos"])
serie_edades1 = pd.Series([10, 12, 14, 16])
#Si no pones un índice en una Serie, pandas automáticamente asigna un número secuencial que empieza en 0.

In [ ]:
# Crear el DataFrame
datos = {
    "Nombre": ["Ana", "Luis", "Sofía", "Carlos", "Elena"],
    "Edad": [12, 13, 12, 14, 13],
    "Calificación": [8.5, 9.0, 7.5, 8.0, 9.5]
}

df = pd.DataFrame(datos)

# Mostrar el DataFrame
print(df)

   Nombre  Edad  Calificación
0     Ana    12           8.5
1    Luis    13           9.0
2   Sofía    12           7.5
3  Carlos    14           8.0
4   Elena    13           9.5

In [ ]:
print(datos)

{'Nombre': ['Ana', 'Luis', 'Sofía', 'Carlos', 'Elena'], 'Edad': [12, 13, 12, 14, 13], 'Calificación': [8.5, 9.0, 7.5, 8.0, 9.5]}

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
superheroes = pd.read_csv('/content/drive/MyDrive/Superheroes.csv', delimiter=';', encoding='Latin1')
print(superheroes)
print(type(superheroes))

             Nombre  Edad  Fuerza (Kg)  Velocidad  Habilidad mental  Volar  \
0            Vision     5       1800.0        4.0               5.0    1.0
1    Rocket Raccoon    15        100.0        4.5               3.0    0.0
2            Shazam    15       2500.0        6.5               3.5    1.0
3        Spider-Man    18          NaN        3.5               3.0    0.0
4             Raven    20        500.0        4.0               4.5    1.0
..              ...   ...          ...        ...               ...    ...
100        Mystique   100        800.0        3.0               3.0    0.0
101       Wolverine   137       1200.0        4.0               2.5    0.0
102   Silver Surfer  1000       2500.0       50.0               4.5    1.0
103            Thor  1500       2500.0        6.0               4.0    1.0
104    Wonder Woman  3000       1500.0        7.5               4.0    1.0

         Tipo
0       Héroe
1       Héroe
2       Héroe
3         NaN
4       Héroe
..        ...
100   Villano
101     Héroe
102     Héroe
103     Héroe
104     Héroe

[105 rows x 7 columns]
<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(superheroes.dtypes)

Nombre               object
Edad                  int64
Fuerza (Kg)         float64
Velocidad           float64
Habilidad mental    float64
Volar               float64
Tipo                 object
dtype: object

In [ ]:
superheroes = superheroes.astype({
    'Volar': 'bool',
    'Fuerza (Kg)':'float',
    'Velocidad': 'int',
    'Edad': 'int',
    'Habilidad mental': 'float',
    'Nombre': 'string',
    'Tipo': 'string'
})

In [ ]:
print(superheroes.dtypes)

Nombre              string[python]
Edad                         int64
Fuerza (Kg)                float64
Velocidad                    int64
Habilidad mental           float64
Volar                         bool
Tipo                string[python]
dtype: object

In [ ]:
#Tamaño
print(superheroes.shape)

(105, 7)

In [ ]:
# Ver si hay duplicados en todas las columnas
print(superheroes.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
100    False
101    False
102    False
103    False
104    False
Length: 105, dtype: bool

In [ ]:
# Contar cuántos duplicados hay
print("Número de duplicados:", superheroes.duplicated().sum())

Número de duplicados: 14

In [ ]:
data_sin_duplicados=superheroes.drop_duplicates()
data_sin_duplicados

,Nombre,Edad,Fuerza (Kg),Velocidad,Habilidad mental,Volar,Tipo
0,Vision,5,1800.0,4,5.0,True,Héroe
1,Rocket Raccoon,15,100.0,4,3.0,False,Héroe
2,Shazam,15,2500.0,6,3.5,True,Héroe
3,Spider-Man,18,NaN,3,3.0,False,<NA>
4,Raven,20,500.0,4,4.5,True,Héroe
...,...,...,...,...,...,...,...
100,Mystique,100,800.0,3,3.0,False,Villano
101,Wolverine,137,1200.0,4,2.5,False,Héroe
102,Silver Surfer,1000,2500.0,50,4.5,True,Héroe
103,Thor,1500,2500.0,6,4.0,True,Héroe
104,Wonder Woman,3000,1500.0,7,4.0,True,Héroe

In [ ]:
print(data_sin_duplicados.shape)

(91, 7)